---
layout: page.njk
---

<div class="hero">
  <p class="lead">I am a Staff Engineer at <a href="https://www.ratedpeople.com">Rated People</a>.</p>
  <div class="bg-full-width py-4 mb-8">
    <p class="lead">I am a software engineer with a knack for progressive, performant and accessible Web. I work with a variety of technologies and tools daily. Some of those are:</p>
    <p class="text-base pb-8 mb-0">JavaScript, Node, React, Remix, Gatsby, Redux, Jest, Ruby, CSS/Sass, Symfony, WordPress, Webpack, Composer, npm, docker, Storybook, Cloudflare, AWS, GitHub, Atlassian suite and more.</p>
  </div>

    <p>In my spare time, I like to build on different ideas. A majority of my projects are open-sourced and hosted on GitHub. Previously I have also held a passion for digital cartography and <a href="https://www.google.com/search?q=site%3Amaps.googleblog.com%20jabran">mapped the unmapped areas</a> of the world with <a href="https://mapmaker.google.com/">Google Map Maker</a> between 2008 to 2013 until the tool was retired and graduated into Google Maps.</p>
    <p>I regularly <a href="https://www.twitter.com/jabranr">tweet</a>, <a href="https://www.github.com/jabranr">write code</a>, occasionally <a href="/articles/">blog</a> my thoughts, and <a href="/speaking">speak</a> at events.</p>
</div>

<div class="pt-8 md:flex md:space-x-10 border-t-2 border-t-[#cf1956] my-8">
  <div>
    <h2 class="text-base text-gray-500 mb-4 md:mt-0">Recent projects</h2>
    <ul class="list-none [&>li]:mt-4">
      <li><div><strong>Childcare Vouchers</strong></div>A directory of businesses accepting childcare vouchers as payment. <a href="https://childcare-vouchers.uk">Visit website</a></li>
      <li><div><strong>Work Clock</strong></div>A macOS menubar app to display time for a different timezone. <a href="https://work-clock.pages.dev">Visit website</a></li>
      <li><div><strong>Guess Where</strong></div>An interactive geo quiz game to guess a location name by looking at bare map. <a href="https://guess-where.pages.dev">Play game</a></li>
    </ul>
    <p><a class="text-base font-semibold mt-8 block" href="/projects/">More projects &raquo;</a></p>
  </div>
  <div class="border-t-[1px] border-t-[#ddd] mt-8 md:border-t-0 md:mt-0">
    <h2 class="text-base text-gray-500 mb-4 md:mt-0">Recent articles</h2>
    <ul class="list-disk [&>li]:mt-4 articles-list">
      {% for article in collections.articles|reverse %}
        {% if loop.index < 6 %}
          <li>
            <a class="text-xl max-w-xs md:text-base" href="{{article.url}}">{{article.data.title}}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
    <p><a class="text-base font-semibold mt-8 block" href="/articles/">More articles &raquo;</a></p>
  </div>
</div>
