---
layout: base.njk
---

{% set previousPage = collections.all | getPreviousCollectionItem(page) %}
{% set nextPage = collections.all | getNextCollectionItem(page) %}

<section class="container breadcrumbs">
  <a href="/">Home</a> &rsaquo; <a href="/articles/">Articles</a>
</section>

<section class="container-fluid">
  <section class="container post">
    <h1 class="article_header underlined">{{title}}</h1>
    <time datetime="{{ date | format_date('YYYY-MM-DD') }}" class="article_time">
      {{date|format_date}} &bull; {{ content | timeToRead }} read
    </time>
    <section class="article_content">
      <div class="ads">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4297681002419123" crossorigin="anonymous"></script>
        <!-- Banner ad -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-4297681002419123"
             data-ad-slot="6682049184"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
      {{ content | safe }}
    </section>

    {% if previousPage or nextPage %}
      <section class="more-pagination">
        <h3 class="more-pagination_heading">More articles</h3>
        <section class="more-pagination_content">
          {% if previousPage  %}<a rel="prev" class="more-pagination_prev" href="{{ previousPage.url | url }}"><span class="more-pagination_guide">&laquo;</span> {{ previousPage.data.title }}</a>{% endif %}
          {% if nextPage  %}<a rel="next" class="more-pagination_next" href="{{ nextPage.url | url }}">{{ nextPage.data.title }} <span class="more-pagination_guide">&raquo;</span></a>{% endif %}
        </section>
      </section>
    {% endif %}
  </section>
</section>
