---
layout: base.njk
---

{% set previousPage = collections.all | getPreviousCollectionItem(page) %}
{% set nextPage = collections.all | getNextCollectionItem(page) %}

<div class="block h-1 sticky top-0 bg-green-500 reading-progress"></div>
<section class="container text-sm my-4">
  <a href="/">Home</a> &rsaquo; <a href="/articles/">Articles</a>
</section>

<section class="container post">
  <h1 class="my-6 relative text-4xl font-bold after:block after::absolute after:content-[''] after:w-[25%] after:h-[4px] after:mt-4 after:bg-[#cf1956]">{{title}}</h1>
  <time datetime="{{ date | format_date('YYYY-MM-DD') }}" class="text-gray-500 text-base">
    {{date|format_date}} &bull; {{ content | timeToRead }} read
  </time>
  <section class="article_content">
    {# Google ads #}
    {# {% if env_NODE_ENV != 'development' %}
      <div class="ads mt-4">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4297681002419123" crossorigin="anonymous"></script>
        <!-- Banner ad -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4297681002419123"
            data-ad-slot="6682049184"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      </div>
    {% endif %} #}
    {{ content | safe }}
  </section>

  {% if previousPage or nextPage %}
    <section class="my-12 border-t-2 border-t-[#cf1956]">
      <h3 class="text-xl">More articles</h3>
      <section class="flex flex-col md:flex-row md:items-center md:justify-between">
        {% if previousPage  %}<a rel="prev" href="{{ previousPage.url | url }}"><span class="hidden md:inline-block">&laquo;</span> {{ previousPage.data.title }}</a>{% endif %}
        {% if nextPage  %}<a rel="next" href="{{ nextPage.url | url }}">{{ nextPage.data.title }} <span class="hidden md:inline-block">&raquo;</span></a>{% endif %}
      </section>
    </section>
  {% endif %}
</section>
