{% if not title %}
  {% set title = 'Jabran Rafique - Full Stack Web Engineer' %}
{% else %}
  {% set title = ((renderData and renderData.title) or title) ~ " - Jabran Rafique" %}
{% endif %}

{% if not description %}
  {% set description = 'Full Stack Web Engineer, currently Front-End Tech Lead at Rated People' %}
{% endif %}
<!doctype html>
<html lang="en" xmlns:fb="http://ogp.me/ns/fb#" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <title>{{ (renderData and renderData.title) or title }}</title>
    <meta name="description" content="{{ (renderData and renderData.description) or description }}" />
    <meta name="keywords" content="blog, jabran, rafique, html, css, javascript, react, php, full stack, front-end{{ (renderData and ', ' ~ renderData.keywords)  }}" />
    <meta name="generator" content="{{eleventy.generator}}" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ (renderData and renderData.description) or description }}" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@jabranr">
    <meta name="twitter:creator" content="@jabranr">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ (renderData and renderData.description) or description }}">
    <meta property="og:image" content="{{ '/icon-1024x1024.png' | absoluteUrl }}" />
    <meta name="twitter:image" content="{{ '/icon-1024x1024.png' | absoluteUrl }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="msapplication-TileImage" content="{{ '/apple-touch-icon.png' | absoluteUrl }}" />
    <meta name="msapplication-TileColor" content="#222222" />
    <meta name="theme-color" content="#222222" />
    <meta property="robots" content="noindex, nofollow" />
    <meta property="og:url" content="{{ page.url | absoluteUrl }}{% if page.url == '/' %}/{% endif %}">
    <link rel="canonical" href="{{ page.url | absoluteUrl }}{% if page.url == '/' %}/{% endif %}" />
    <link rel="preconnect" href="https://www.googletagmanager.com" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="manifest" href="{{ '/manifest.json' | absoluteUrl }}?v={{ 'now' | format_date('unix') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | absoluteUrl }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | absoluteUrl }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | absoluteUrl }}" />

    <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | absoluteUrl }}" />
    <link rel="apple-touch-icon" href="{{ '/apple-touch-icon.png' | absoluteUrl }}" />

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <link href="{{ '/main.css' | absoluteUrl }}?v={{ 'now' | format_date('unix') }}" rel="stylesheet" />
    <link href="{{ '/resume.css' | absoluteUrl }}?v={{ 'now' | format_date('unix') }}" rel="stylesheet" />

    {% if env_NODE_ENV != 'development' %}
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.defer=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','{{ env_GTM_ID }}');</script>
      <!-- End Google Tag Manager -->
    {% endif %}
  </head>
  <body>
    {% if env_NODE_ENV != 'development' %}
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ env_GTM_ID }}"
      height="0" width="0" class="invisible hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    {% endif %}
    {% block schema %}{% endblock schema %}
    <div class="container mx-auto p-4 max-w-3xl">
      <header class="header my-6">
        <h1><a class="logo" href="/">Jabran Rafique</a></h1>
      </header>
      <main class="main">
        <section class="container my-8 resume">
          <section class="page_content">
            {{ content | safe }}
          </section>
        </section>
      </main>
      <footer class="container bg-full-width text-sm py-4 print:hidden">
        <div class="max-w-lg">
          <p>&copy; 2012 &ndash; present</p>
          <div class="colophone">
            <a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/jabranr">Twitter</a>
            <a target="_blank" rel="noopener noreferrer" href="https://github.com/jabranr">GitHub</a>
            <a target="_blank" rel="noopener noreferrer" href="https://google.com/mapmaker?gw=66&amp;uid=208599960765438642668">Google Map Maker</a>
            <a href="mailto:hello@jabran.me">Contact</a>
            <a href="/feed.xml">RSS</a>
          </div>
          <p><span class="heart text-[#cf1956]">&hearts;</span> I like to develop on ideas that are useful and beneficial to everyone. All contents and code samples are licensed under the MIT License unless stated otherwise.</p>
          <hr class="border-t-2 border-t-[#cf1956]" />
          <p>This website uses cookies to deliver better user experience. By continuing to use this website you agree to the use of cookies.</p>
        </div>
      </footer>
    </div>
  </body>
</html>


