:root {
  --jr-orange: #f69;
  --jr-black: #333;
  --jr-offwhite: #fafafa;
  --jr-darker-gray: #888;
  --jr-dark-gray: #666;
  --jr-light-gray: #eee;
  --jr-gray: #ddd;
  --jr-blue: #00bcd4;
  --jr-dark-blue: #1e90ff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  color: var(--jr-black);
  background-color: var(--jr-offwhite);
}

hr {
  border: 1px solid var(--jr-orange);
}

a,
a:link {
  color: var(--jr-dark-blue);
}

a:hover,
a:active {
  color: var(--jr-orange);
}

.page a:focus,
.post a:focus {
  color: var(--jr-black);
  position: relative;
  display: inline-block;
}

.page a:focus::before,
.post a:focus::before {
  content: '';
  display: block;
  position: absolute;
  background-color: gold;
  z-index: -1;
  top: 6px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  margin: auto;
  transform: rotate(-1deg);
  border-radius: 8px;
}

blockquote {
  color: var(--jr-dark-gray);
  padding: 0.75em 1em;
  border-left: 5px solid var(--jr-gray);
  background-color: var(--jr-light-gray);
  margin: 1em 0;
  font-style: oblique;
}

blockquote > * {
  margin: 0;
}

code {
  font-size: 0.9em;
  background-color: var(--jr-light-gray);
  color: var(--jr-orange);
  padding: 1px 4px;
  border-radius: 4px;
}

blockquote code {
  padding: 1px;
}

code[class*='language-'],
pre[class*='language-'] {
  font-size: 0.9em;
}

.underlined {
  position: relative;
  margin-bottom: 0.67em;
}

.underlined::after {
  content: '';
  position: absolute;
  display: block;
  width: 5em;
  height: 4px;
  background-color: var(--jr-orange);
  margin-top: 0.25em;
}

.wrapper {
  display: block;
  width: 100%;
}

.main {
  width: 100%;
  margin: 0 auto;
  min-height: 85vh;
}

.container {
  display: block;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.container-fluid {
  display: block;
  padding: 2em 0;
}

.lead {
  font-size: 1.35em;
  color: var(--jr-dark-gray);
  font-weight: 200;
}

@media (min-width: 600px) {
  .lead {
    font-size: 1.5em;
  }
}

.logo {
  margin: 0;
  text-decoration: none;
  color: var(--jr-black);
  background-image: url(../images/avatar.png);
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 65px;
  text-decoration: none;
}

.logo:hover,
.logo:active,
.logo:focus {
  color: var(--jr-black);
}

.h1 {
  font-size: 2.25em;
  font-weight: 700;
}

.header_inner {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-items: center;
}

.footer {
  background-color: var(--jr-black);
  color: var(--jr-gray);
  font-size: 14px;
  line-height: 1.75;
  margin-top: 4em;
}

.footer a {
  color: var(--jr-blue);
}

.footer a:hover,
.footer a:active {
  color: var(--jr-orange);
}

@media (min-width: 600px) {
  .footer_inner {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.footer_list {
  margin: 0;
  padding: 0 0 0 1em;
}

.bullets > *:not(:last-child)::after {
  content: '\2022';
  color: var(--jr-dark-gray);
  display: inline-block;
  margin-left: 0.5em;
  padding-right: 0.35em;
}

.heart {
  color: #c30;
}

.hero {
  color: var(--jr-dark-gray);
  font-size: 1.1em;
  border-bottom: 2px solid var(--jr-orange);
  padding-bottom: 2em;
}

.hero a,
.hero a:link {
  text-decoration: underline;
  color: currentColor;
}

.hero a:hover,
.hero a:active {
  color: var(--jr-orange);
}

.stack {
  font-size: 0.85em;
  color: var(--jr-dark-gray);
}

.activity > * + * {
  margin-left: 0;
  margin-top: 3em;
}

@media (min-width: 600px) {
  .activity {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .activity > * + * {
    margin-left: 3em;
    margin-top: 0;
  }
}

.activity h2 {
  display: block;
  font-weight: normal;
  color: var(--jr-dark-gray);
}

.breadcrumbs {
  font-size: small;
  margin-top: 1em;
  margin-bottom: 1em;
}

.breadcrumbs a {
  color: var(--jr-black);
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: var(--jr-orange);
}

.post img {
  display: block;
  max-width: 100%;
}

.post a {
  word-wrap: break-word;
}

.post_time {
  display: block;
  margin: 2em 0 2em;
  font-size: 0.85em;
  color: var(--jr-dark-gray);
}

.more-pagination {
  margin-top: 3em;
  border-top: 2px solid var(--jr-orange);
}

.more-pagination_content {
  display: flex;
  flex-direction: column;
}

.more-pagination_guide {
  display: none;
}

@media (min-width: 600px) {
  .more-pagination_content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .more-pagination_guide {
    display: inline-block;
  }

  .more-pagination_next {
    text-align: right;
  }
}

.page_description {
  margin-bottom: 3em;
}

.list-item + .list-item {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid var(--jr-gray);
}

.list-item_time {
  font-size: 0.75em;
  color: var(--jr-dark-gray);
}

.list-item_heading {
  margin-top: 8px;
  margin-bottom: 8px;
}

.list-item_excerpt {
  font-size: 0.9em;
  color: var(--jr-dark-gray);
  margin-top: 0;
}

.pagination {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  font-size: 0.85em;
  font-weight: bold;
}

.pagination_current {
  background-color: var(--jr-light-gray);
}

.pagination span,
.pagination a {
  display: block;
  width: 24px;
  height: 24px;
  text-align: center;
  padding: 4px;
  border-radius: 50%;
}

.page_description {
  display: block;
  position: relative;
  padding-bottom: 2rem;
  border-bottom: 3px double #f69;
  background-color: transparent;
}

.events h3 {
  margin-bottom: 0;
}

.events h4 {
  margin-top: 8px;
  color: var(--jr-dark-gray);
}

.event {
  display: block;
  clear: both;
  color: #666;
  min-height: 250px;
}

.events > * + * {
  border-top: 2px solid #eee;
  margin-top: 1rem;
  padding-top: 2.5rem;
}

.event_image {
  width: 100%;
  vertical-align: middle;
  margin: 0 0 0.5rem;
}

.event_figure {
  margin: 0;
}

.event_figcaption {
  font-size: small;
  color: #999;
  text-align: center;
}

@media screen and (min-width: 719px) {
  .event_image {
    width: 200px;
    height: 200px;
    border-radius: 10%;
    vertical-align: middle;
    margin: 0 0 0.5rem 1.125rem;
  }
}

@media screen and (min-width: 719px) {
  .event_figure {
    float: right;
  }
}

.ads:not(:empty) {
  margin: 2rem auto;
}
