@import 'prismjs//themes/prism-okaidia.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html[lang='ur'],
.translated-rtl {
  direction: rtl;
}

body {
  @apply leading-normal text-gray-800;
}

.lead {
  @apply my-8 text-3xl font-extralight leading-tight;
}

p {
  @apply my-4;
}

a {
  @apply text-[#006ad0] underline hover:text-[#cf1956];
}

h2,
h3,
h4 {
  @apply my-6 mb-2 text-2xl font-bold;
}

h2 {
  @apply my-8 mb-4 text-3xl;
}

h4 {
  @apply my-4 mb-2 text-xl;
}

.logo {
  @apply m-0 block bg-contain bg-no-repeat text-6xl font-bold leading-none tracking-tighter text-[#333] no-underline transition-colors md:bg-[url('/avatar.png')] md:pl-28 md:leading-relaxed;
}

:not(h1).logo {
  @apply hover:text-black;
}

[lang='ur'] .logo,
.translated-rtl .logo {
  @apply bg-right pl-0 pr-20 md:pr-16;
}

.hero a {
  text-decoration-skip-ink: none;
}

.bg-full-width {
  @apply bg-[#333] text-[#ddd] shadow-[0_0_0_100vmax_#333];
  clip-path: inset(0 -100vmax);
}

.colophone a {
  @apply inline-block font-bold text-[#00bcd4] after:ml-[6px] after:inline-block after:pr-[3px] after:text-[#666] after:content-['\2022'] last:after:content-[''] hover:text-[#cf1956];
}

code {
  @apply rounded-[4px] bg-[#eee] px-1 py-[1px] font-mono text-sm text-[#cf1956];
}

blockquote {
  @apply my-4 border-l-[5px] border-l-[#ddd] bg-[#eee] px-4 py-1 italic text-[#666];
}

.post ul {
  @apply my-4 list-disc pl-10;
}

.articles-list {
  counter-reset: articles;
}

.articles-list li {
  margin-top: 0.5rem;
  counter-increment: articles;
  display: flex;
  align-items: center;
}

.articles-list li::before {
  content: counter(articles);
  margin-right: 10px;
  display: block;
  font-weight: lighter;
  font-size: 4rem;
  color: #ddd;
  line-height: 1;
  min-width: min-content;
  font-variant-numeric: tabular-nums;
}

pre[class*='language-'] {
  font-size: 1rem;
  line-height: 1.5;
}

math {
  @apply my-4 inline-block text-3xl;
}
