@import 'prismjs//themes/prism-okaidia.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html[lang='ur'],
.translated-rtl {
  direction: rtl;
}

html.light {
  .icon-light-mode {
    @apply visible;
  }

  .icon-dark-mode {
    @apply hidden;
  }
}

html.dark {
  .icon-light-mode {
    @apply hidden;
  }

  .icon-dark-mode {
    @apply visible;
  }
}

.lead {
  @apply my-8 text-3xl font-extralight leading-tight;
}

p {
  @apply my-4;
}

a {
  @apply text-sky-600 underline hover:text-red-700 dark:text-sky-400;
}

h2,
h3,
h4 {
  @apply my-6 mb-2 text-2xl font-bold;
}

h2 {
  @apply my-8 mb-4 text-3xl;
}

h4 {
  @apply my-4 mb-2 text-xl;
}

.logo {
  @apply m-0 block bg-contain bg-no-repeat text-6xl font-bold leading-none tracking-tighter text-sky-950  no-underline transition-colors md:bg-[url('/avatar.png')] md:pl-28 md:leading-relaxed dark:text-sky-50;
}

:not(h1).logo {
  @apply hover:text-black dark:hover:text-gray-300;
}

[lang='ur'] .logo,
.translated-rtl .logo {
  @apply bg-right pl-0 pr-20 md:pr-16;
}

.hero a {
  text-decoration-skip-ink: none;
}

.bg-full-width {
  @apply bg-sky-950 text-sky-50 shadow-[0_0_0_100vmax_#082f49] dark:bg-sky-100 dark:text-sky-950 dark:shadow-[0_0_0_100vmax_#e0f2fe];
  clip-path: inset(0 -100vmax);
}

.colophone a {
  @apply inline-block font-bold text-[#00bcd4] after:ml-[6px] after:inline-block after:pr-[3px] after:text-[#666] after:content-['\2022'] last:after:content-[''] hover:text-[#cf1956];
}

code {
  @apply rounded-[4px] bg-[#eee] px-1 py-[1px] font-mono text-sm text-[#cf1956];
}

blockquote {
  @apply my-4 border-l-[5px] border-l-[#ddd] bg-[#eee] px-4 py-1 italic text-[#666];
}

.post ul {
  @apply my-4 list-disc pl-10;
}

.articles-list {
  counter-reset: articles;
}

.articles-list li {
  margin-top: 0.5rem;
  counter-increment: articles;
  display: flex;
  align-items: center;
}

.articles-list li::before {
  content: counter(articles);
  margin-right: 10px;
  display: block;
  font-weight: lighter;
  font-size: 4rem;
  color: #ddd;
  line-height: 1;
  min-width: min-content;
  font-variant-numeric: tabular-nums;
}

pre[class*='language-'] {
  font-size: 1rem;
  line-height: 1.5;
}

math {
  @apply my-4 inline-block text-3xl;
}

.reading-progress {
  animation-name: width;
  animation-timeline: scroll(y);
}

@keyframes width {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
