@page {
  size: A4;
}

html,
body {
  @apply print:m-0 print:h-[297mm] print:w-[210mm] print:p-0 print:py-4;
}

body {
  font-family: 'Inter', sans-serif;
  @apply print:text-[12pt];
}

h2,
h4,
.font-serif {
  font-family: 'Playfair Display', serif;
}

h2 {
  @apply mt-8 border-b-2 border-b-[#666] pb-2 text-2xl print:mb-0 print:mt-4 print:border-b-[1px] print:pb-0;
}

h3 {
  @apply mb-0 text-xl text-[#666] print:mt-4;
}

h4 {
  @apply mt-0 text-xl;
}

.logo {
  @apply print:w-full print:bg-none print:p-0 print:text-[22pt];
}

.print-link {
  @apply print:text-inherit print:no-underline print:after:ml-1 print:after:text-[10pt] print:after:font-normal print:after:content-[attr(data-print)];
}

body,
h2,
h3,
h4 {
  @apply print:text-[12pt] print:text-[#333];
}

h2,
h3,
h4 {
  @apply print:text-[14pt];
}

ul,
p {
  @apply print:text-[10pt];
}
