---
layout: page.njk
title: Articles
description: An archived collection of articles by Jabran Rafique
eleventyExcludeFromCollections: true
eleventyComputed:
  title: "{% if pagination.pageNumber > 0 %}Articles - Page {{ pagination.pageNumber + 1 }}{% else %}Articles{% endif %}"
pagination:
  data: collections.articles
  size: 10
  alias: articles
  reverse: true
permalink: "/articles/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
---

{% for article in articles %}
  <section class="mt-4 pt-4 {% if not loop.first %}border-t-[1px] border-t-[#ddd]{% endif %}">
    <time class="text-[#666] text-sm" datetime="{{ article.date | format_date('YYYY-MM-DD') }}">{{ article.date | format_date }}</time>
    <h3 class="text-xl font-bold my-2">
      <a href="{{ article.url | url }}">{{ article.data.title }}</a>
    </h3>
    <p class="text-base mb-4">{{ article.data.excerpt | safe }}</p>
  </section>
{% endfor %}


<section class="inline-flex items-center justify-center font-bold text-base my-12">
  {% for pageEntry in pagination.pages %}
    {% if pagination.hrefs[loop.index0] == '/articles/1/' or page.url == pagination.hrefs[loop.index0] %}
      <span class="block bg-[#eee] w-8 h-8 rounded-full text-center p-1" aria-current="page">{{ loop.index }}</span>
    {% else %}
      <a class="block w-8 h-8 rounded-full text-center p-1" href="/articles/{% if loop.index != loop.first %}{{ loop.index }}/{% endif %}">{{ loop.index }}</a>
    {% endif %}
  {% endfor %}
</section>
